.additional-goods__container {

  display: grid;
  grid-template-columns: 280px;

  @media (min-width: @tablet-width) {
    width: 708px;
    grid-template-columns: 708px;
  }

  @media (min-width: @desktop-width) {
    width:1220px;
    grid-template-columns: 895px 245px;
    row-gap: 80px;
  }
}

.additional-goods__title {
  font-family: @title-font;
  font-size: 24px;
  line-height: 24px;
  color: @title-color;
}

.additional-goods__list {
  list-style-type: none;
}


.additional-goods__name {
  font-family: @title-font;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
  font-weight: 700;
}

.additional-goods__description {
  font-size: 14px;
  line-height: 14px;
}
