.main-content__catalog-title {
  font-family: @title-font;
  font-size: 36px;
  line-height: 36px;
  color: @title-color;
}

.main-content__form-title {
  font-family: @title-font;
  font-size: @page-title-size;
  line-height: 36px;
  color: @title-color;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.main-content__intro {
  font-family: @title-font;
  font-size: @main-font-size-mobile;
  line-height: 18px;
  text-transform: uppercase;
  color: @title-color;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
