.order-all {
  background-color: @color-theme;
  background-image: url("../../img/index-background-desktop.jpg");
  min-height: 289px;
}

.order-all__text {
  font-size: 16px;
  line-height: 20px;
  color: @main-color;
}
