.programm-select {

}


.programm-select__wrapper {
  margin: 0 auto;
  width: @mobile-width;

  background-color: @color-theme;
  background-image: url("../img/index-background-desktop.jpg");

  @media (min-width: @tablet-width) {
    width: 709px;
  }

  @media (min-width: @desktop-width) {
    width: 1330px;
  }
}

.programm-select__title {
  font-size: @page-title-size;
  line-height: 36px;
  color: @main-color;
  font-family: @title-font;
  font-weight: 400;

  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: @title-color;
  }
}

.programm-select__intro {
  color: @main-color;
  line-height: 14px;
  font-family: @title-font;

  text-align: center;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: @title-color;
  }
}

.programm-select__image {
  margin: 0 auto;
}

