.user-contacts {
  border: none;
}

.user-contacts__list {
  list-style-type: none;
  text-transform: uppercase;
}

.user-contacts__entry-field {
  text-transform: uppercase;
  color: @main-font-color;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.user-contacts__field {
  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.user-contacts__title {
  color: #000000;
  font-size: 24px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}
