// Начните писать стили здесь
@import "global/fonts.less";
@import "global/global.less";
@import "global/variables.less";

@import "blocks/page-header.less";
@import "blocks/main-nav.less";
@import "blocks/programm-select.less";
@import "blocks/button.less";
@import "blocks/diets-type.less";
@import "blocks/card-diet.less";
@import "blocks/about-diets.less";
@import "blocks/example-results.less";
@import "blocks/stats.less";
@import "blocks/contacts.less";
@import "blocks/site-link.less";
@import "blocks/main-content.less";
@import "blocks/catalog.less";
@import "blocks/product-card.less";
@import "blocks/show-more.less";
@import "blocks/additional-goods.less";
@import "blocks/order-all.less";
@import "blocks/main-form.less";
@import "blocks/user-info.less";
@import "blocks/services.less";
@import "blocks/user-contacts.less";
@import "blocks/group-additional.less";
@import "blocks/page-footer.less";


.index-body {
  background-color: #ffffff;
  font-family: @main-font;
  font-size:  @main-font-size-mobile;
  line-height: 18px;
  color: @main-font-color;
}

.form-body {
  background-color: #ffffff;
  font-family: @title-font;
  font-size:  16px;
  line-height: 18px;
  color: @main-font-color;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
