@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url(../../fonts/oswaldmedium.woff2) format("woff2"), url(../../fonts/oswaldregular.woff2) format("woff2"), url(../../fonts/ArialRegular.woff) format("woff"), url(../../fonts/ArialBold.woff) format("woff");
}
.page-header {
  background-color: #ffffff;
}
.page-header__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
}
.page-header__logo {
  padding-left: 20px;
}
.page-header__logo-title {
  padding-left: 57px;
}
.main-nav {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  width: 320px;
}
.site-list {
  width: 320px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.site-list__item {
  margin: 0 auto;
}
/*Тестовое*/
.site-list__link {
  display: block;
  width: 200px;
  text-decoration: none;
  color: #000000;
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 24px;
}
.site-list__link:hover {
  opacity: 0.6;
}
.site-list__link:active {
  opacity: 0.3;
}
.site-list__link--current {
  border-bottom: 2px solid #68B738;
}
.programm-select {
  background-color: #68B738;
  background-image: url("../../img/index-background-desktop.jpg");
}
.programm-select__wrapper {
  margin: 0 auto;
}
.programm-select__title {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 25px;
}
.programm-select__intro {
  color: #ffffff;
  line-height: 14px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}
.programm-select__image {
  margin: 0 auto;
}
.button {
  background-color: #68B738;
  color: #ffffff;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.button--grey {
  background-color: #f2f2f2;
  color: #444444;
}
.diets-type__list {
  list-style-type: none;
}
.card-diet {
  background-color: #f2f2f2;
}
.card-diet__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.card-diet__description {
  font-family: "Arial", sans-serif;
}
.card-diet__link {
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-family: "Oswald", sans-serif;
}
.about-diets__title {
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
.about-diets__list {
  list-style-type: none;
}
.example-results {
  background-color: #eaeaea;
}
.example-results__title {
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
.stats {
  list-style-type: none;
}
.contacts__intro {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.contacts__address {
  line-height: 20px;
}
.site-link {
  text-decoration: none;
}
.site-link__title {
  font-size: 16px;
  color: #444444;
}
.site-link__title-first {
  text-transform: uppercase;
}
.main-content__catalog-title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}
.main-content__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}
.main-content__intro {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}
.catalog__list {
  list-style-type: none;
}
.product-card {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
.product-card__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  font-weight: 700;
  text-transform: uppercase;
}
.show-more__title {
  color: #111111;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}
.show-more__intro {
  font-size: 12px;
  line-height: 16px;
}
.additional-goods__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}
.additional-goods__list {
  list-style-type: none;
}
.additional-goods__name {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
  font-weight: 700;
}
.additional-goods__description {
  font-size: 14px;
  line-height: 14px;
}
.order-all {
  background-color: #68B738;
  background-image: url("../../img/index-background-desktop.jpg");
  min-height: 289px;
}
.order-all__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.main-form__comment {
  border: none;
}
.main-form__comment-title {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}
.main-form__comment-entry-field {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.main-form__explanation {
  font-size: 14px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
}
.user-info {
  border: none;
}
.user-info__list {
  list-style-type: none;
  text-transform: uppercase;
}
.user-info-control {
  text-transform: uppercase;
}
.services {
  border: none;
}
.services__list {
  list-style-type: none;
  text-transform: uppercase;
}
.services__control {
  text-transform: uppercase;
}
.user-contacts {
  border: none;
}
.user-contacts__list {
  list-style-type: none;
  text-transform: uppercase;
}
.user-contacts__entry-field {
  text-transform: uppercase;
  color: #444444;
}
.group-additional {
  border: none;
  color: #000000;
}
.group-additional__title {
  font-size: 24px;
  line-height: 20px;
}
.group-additional__list {
  list-style-type: none;
  text-transform: uppercase;
}
.group-additional__control {
  text-transform: uppercase;
}
.page-footer {
  background-color: #f2f2f2;
}
.index-body {
  background-color: #ffffff;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.form-body {
  background-color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */
